<!-- data binding -->

<!-- <div class="card" style="width: 18rem"> -->
<!-- interpolation -->
<!-- <img src="{{productList.productImgUrl}}" class="card-img-top" alt="..."> -->
<!-- property binding [ att] -->
<!-- <img [src]="productList.productImgUrl" class="card-img-top" alt="..." />

  <div class="card-body">
    <h5 class="card-title">{{productList.productName}}</h5>
    <p class="card-text">price:{{productList.productPrice}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<!-- on way binding  html===> ts
 (event)="method()"-->
<!-- <button class="btn btn-dark my-4" (click)="toggle()"> hide/show  images</button> -->
<button class="btn btn-dark my-4" (click)="toggle()">
  {{toggleImg ?"hide":"show"}} /images
</button>
<h1>TotalOrderPrice :{{TotalOrderPrice}}</h1>
<!-- prop binding -->
<!-- <input type="text" [value]="userName"  /> -->
<!-- two way binding  [()]  -->
<!-- <input type="text" [(ngModel)]="userName" /> -->

<!-- <p>{{userName}}</p> -->

<!-- <label class="form-label">Filter By Name </label>
<input type="text" class="form-control" [(ngModel)]="FilterByName" /> -->
<!-- <p >{{date|date:'long'}}</p> -->
<div class="row"   >
  @for(product of productsAfterSearch ; track product.id){

  <div class="col-md-3 mt-4 col-sm-4">
    <div class="card">
      @if(toggleImg){
      <img
        class="card-img-top img-fluid"
        [src]="product.productImgUrl"
        alt="Card image cap"
      appImgStyle
      color1="blue"
      />
      }@else {
      <p   >no image</p>
      }

      <div class="card-body">
        <!-- attribute prop binding  [class.classNama] -->
        <!-- <h5 class="card-title" [class.test]="product.productQuantity==0"
        [class.text-success]="product.productQuantity>0" >{{product.productName}}</h5> -->

        <!-- attribute directives [ngClass]="{''}" -->
        <!-- <h5 class="card-title" [ngClass]="{'test':product.productQuantity==0,'text-success':product.productQuantity>0}" >{{product.productName}}</h5> -->

        <!-- prop binding ternary op -->
        <!-- <h5 class="card-title" [style.background-color]="(product.productQuantity==0)?'red':'blue'" [style.color]="" >{{product.productName}}</h5> -->

        <!-- attribute directives [ngStyle]="{''}" -->

        <h5
          class="card-title"
         
        >
          <!-- {{product.productName | lowercase}} -->
          {{product.productName | uppercase}}

        </h5>

        <h5 class="card-title">quantity : {{product.productQuantity}}</h5>
        <div class="d-flex justify-content-between">
                  <h5 class="card-title text-decoration-line-through "> {{product.productPrice| currency:'EUR':'code'}}</h5>

        <h5 class="card-title"> {{product.productPrice|discount:20 | currency:'EUR':'code'}}</h5>

        </div>

        <!-- <button class="btn btn-primary" [hidden]="product.productQuantity==0" > <i class="fa-solid fa-cart-shopping"></i>Add to cart</button> -->
        <!-- @if(product.productQuantity>0){
        <button class="btn btn-primary">
          <i class="fa-solid fa-cart-shopping"></i>Add to cart
        </button>

        }@else {
            <p>no products</p>
        } -->
        <div class="d-flex justify-content-between">
          <button
            class="btn btn-primary"
            [disabled]="product.productQuantity==0"
            (click)="addToCartInChild(product)"
          >
            <i class="fa-solid fa-cart-shopping"></i>Add to cart
          </button>

          @switch(product.productQuantity){ @case (0){
          <p class="text-danger">out of stock</p>

          } @case(1){
          <p class="text-warning">last item in stock</p>
          } @default {
          <p class="text-success">in stock</p>
          } }
        </div>
        <div class="d-flex justify-content-between mt-3">
          <!-- template variables , reference  #name-->
          <!-- Event Binding -->
          <input type="number" #qtyValue />
          <button
            class="btn btn-success"
            (click)="totalPrice(qtyValue.value,product.productPrice)"
          >
            buy
          </button>
        </div>

        <button class="btn btn-dark" [routerLink]="['/products_parent',product.id]">show details</button>
      </div>
    </div>
  </div>

  }@empty {
  <h1 class="text-center">no products</h1>
  }
</div>
