<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
       <img src="download (1).jfif" alt="logo" class="logo" appImgStyle />
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item active">
           <!-- <a class="nav-link" routerLink="/home"   >Home</a> -->
           <!-- <a class="nav-link" [routerLink]="['/home']"   >Home</a>  -->
            <!-- //dynamic router -->
           <a class="nav-link" routerLink="/home" routerLinkActive="active"   >Home</a>

         </li>
         <li class="nav-item">
           <a class="nav-link"  routerLink="/products_parent" routerLinkActive="active"  >Products</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/signup"  routerLinkActive="active" >signup</a>
      
         </li>
              <li class="nav-item">
           <a class="nav-link" routerLink="/login"  routerLinkActive="active" >login-Reactive</a>
      
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#" [hidden]="userLoggedInNav">login</a>
           <a class="nav-link disabled" href="#" [hidden]="!userLoggedInNav">logout</a>

         </li>
       </ul>
     </div> </div>
   </nav>